{
    "ignorePatterns": ["/*", "!/src", "!/test", "!/packages", "/packages/*/*", "!/packages/*/src"],
    "extends": ["@js-soft/ts", "@js-soft/ts/jest"],
    "parserOptions": {
        "project": ["./tsconfig.json", "./test/tsconfig.json", "./packages/*/tsconfig.json"]
    },
    "rules": {
        "jest/expect-expect": [
            "error",
            {
                "assertFunctionNames": ["expect", "*.executeTests", "validateSchema"]
            }
        ],
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "default",
                "format": ["camelCase"],
                "leadingUnderscore": "allow"
            },
            {
                "selector": "variable",
                "format": ["camelCase", "UPPER_CASE"],
                "leadingUnderscore": "allow"
            },
            {
                "selector": "typeLike",
                "format": ["PascalCase"]
            },
            {
                "selector": "enumMember",
                "format": ["PascalCase"]
            },
            {
                "selector": "classProperty",
                "format": ["camelCase", "UPPER_CASE"],
                "leadingUnderscore": "allow"
            },
            {
                "selector": "property",
                "format": null,
                "custom": {
                    "regex": "^(@type|@version|@context|(\\$?[a-z0-9]+)([A-Z][a-z0-9]*)*)(\\.(@type|@version|@context|[a-z0-9]+([A-Z][a-z0-9]*)*))*|[xX]-[a-zA-Z]+(-[a-zA-Z]+)*$",
                    "match": true
                }
            }
        ]
    }
}
