# required - the information below is used to connect to the backbone
transportLibrary__baseUrl=
transportLibrary__platformClientId=
transportLibrary__platformClientSecret=

# optional - defaults to 'connector'
# this is the database name prefix for the connector
# results in '{prefix}-1' for connector-1 and '{prefix}-2' for connector-2
DATABASE_NAME_PREFIX=

# optional - defaults to 'false'
# enable or disable the sync module
SYNC_ENABLED=
