name: Test

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - run: bash .ci/runChecks.sh

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Start Backbone
        run: npm run start:backbone
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - run: npm ci
      - run: npm run build:ci --workspaces --if-present
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@v1
      - run: npm run test:ci --workspaces --if-present
        env:
          DATABASE_CONNECTION_STRING: mongodb://127.0.0.1:27017
          NMSHD_TEST_BASEURL: http://localhost:8090
          NMSHD_TEST_CLIENTID: test
          NMSHD_TEST_CLIENTSECRET: test

      - name: Code coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
          files: ./coverage/cobertura-coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build the productive docker image
        run: bash .ci/testBuildingProductiveDockerImage.sh

  lint-helm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: azure/setup-helm@v4
      - run: helm lint ./helmChart
